<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/cursos.css">
    <title>Cursos</title>
</head>
<body>
    <div class="header">
        <header class="header-text">ETE Advogado José David Gil Rodrigues</header>
    </div>
    <div class="nav">
        <nav class="nav-nav">
            <a class="nav-nav-a" href="../index.html">Home</a>
            <a class="nav-nav-a" href="#">Cursos</a>
            <a class="nav-nav-a" href="estagios.html">Estágios</a>
            <a class="nav-nav-a" href="contato.html">Contato</a>
            <a class="nav-nav-a" href="conhecaete.html">Conheça a ETE</a>
            <a class="nav-nav-a" href="galeria.html">Galeria</a>
        </nav>
    </div>
    <div class="container">
        <div class="container-content">
            <h1 class="container-content-h1">Cursos</h1>
            <div class="container-content-ds">
                <h2 class="container-content-ds-h1">Desenvolvimento de Sistemas</h3>
                    <div class="container-content-ds-eixotec">
                        <p class="container-content-ds-eixotec-p1"><strong>Eixo Tecnologico:</strong>Informação, comunicação e tecnologia.</p>
                        <p class ="container-content-ds-eixotec-p2"><strong>Modalidade ofertada:</strong> Integrada ao ensino médio e Subsequente</p>
                        <p class="container-content-ds-eixotec-p3"><strong>Duração: </strong>3 módulos (3 semestres)</p>
                        <p class="container-content-ds-eixotec-p4"><strong>Objetivo Geral:</strong> Qualificar profissionais para atuar no desenvolvimento de sistemas, seguindo as especificações e paradigmas da lógica de programação e das linguagens de programação e utilizando ambientes de desenvolvimento de sistemas, sistemas operacionais e banco de dados. </p>
                    </div>
            </div>
    </div>
    <div class="footer">
        <footer class="footer-content">
            <p class="footer-content-p">&copy; DS.7 - Todos os direitos reservados.</p>
        </footer>
    </div>
</body>
</html>